
.nameCard {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: var(--color-transition);

    .greeting {
        font-size: 52px;
        font-weight: 400;
        line-height: 100px;
        letter-spacing: 2px;
        margin: 0;

        @media (max-width: 576px) {
            font-size: 42px;
            line-height: 20px;
        }
    }

    .greeting.english {
        font-family: var(--font-title-en);
    }

    .greeting.russian {
        font-family: var(--font-title-ru);
    }

    .logoName {
        font-family: var(--font-brand-en);
        font-size: 339px;
        font-weight: 700;
        line-height: 285px;
        height: 240px;
        margin: 0;

        @media (max-width: 576px) {
            font-size: 250px;
            height: 200px;
            line-height: 250px;
        }

        @media (max-width: 480px) {
            font-size: 200px;
            height: 170px;
            line-height: 210px;
        }
    }

    .description_wrapper {
        position: relative;
        height: 100px;
        transition: opacity .7s ease-out;
  
        &.fadeOut {
            opacity: 0;
        }
        
        &.fadeIn {
            opacity: 1;
        }

        .description {
            position: absolute;
            bottom: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(50%);
            margin: 0;
            font-size: 46px;
            font-weight: 400;
            width: 100vw;

            @media (max-width: 1200px) {
                font-size: 36px;
            }

            @media (max-width: 992px) {
                width: 500px;
            }

            @media (max-width: 768px) {
                font-size: 30px;
            }

            @media (max-width: 576px) {
                width: 350px;
                font-size: 26px;
            }

            @media (max-width: 480px) {
                font-size: 22px;
                width: 250px;
            }
        }

        @media (max-width: 576px) {
            height: 80px;
        }
    }

    .description_wrapper.english {
        font-family: var(--font-title-en);
    }
    .description_wrapper.russian {
        font-family: var(--font-title-ru);
    }

    .socialLinks {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 35px;

        a {
            transition: filter 0.3s ease, transform 0.3s ease;
            
            &:hover {
                transform: scale(1.05);
            }

            &:active {
                filter: brightness(0.9) saturate(0.9);
                transform: scale(0.9);
            }


            // -------------------------------------------------------------------------------------------------------------------------------------------------
            // Вариант для браузера FireFox
            @supports (-moz-appearance: none) {
                transition: filter 0.3s ease, transform 0.3s ease;
                &:hover {
                    transform: scale(1.1);
                }
            }
            // -------------------------------------------------------------------------------------------------------------------------------------------------

            
        }

        &.shadowOn {
            filter: drop-shadow(var(--text-shadow-light));
        }
    }

    &.shadowOn {
        text-shadow: var(--text-shadow-light);
    }
}