.about {
    display: flex;
    flex-direction: column;
    gap: 30px;

    .component_container {
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 30px;

        .skillsCarousel_settings {
            display: flex;
            flex-shrink: 1;
            flex-wrap: 1;
            min-width: 0%;
        }

        .marginClass {
            margin: 30px 100px;

            @media (max-width: 1200px) {
                margin: 30px 50px;
            }

            @media (max-width: 768px) {
                margin: 20px 30px;
            }

            @media (max-width: 360px) {
                margin: 10px 30px;
            }
        }
    }
}