.pageTitle {
    position: relative;
    display: flex;
    justify-content: end;
    width: 100%;
    margin-top: 130px;
    overflow: hidden;
    filter: drop-shadow(0 8px 32px color-mix(
        in srgb, 
        var(--shadow-color, black) 
        calc(var(--shadow-opacity, 0.1) * 100%), 
        transparent
    ));

    .left_bg {
        width: 10%;
        height: 75px;
        background: rgba(22, 27, 34, 1);
        box-shadow: none;

        @media(max-width: 1200px) {
            width: 15%;
        }

        @media(max-width: 992px) {
            height: 60px;
        }

        @media(max-width: 768px) {
            width: 20%;
            height: 55px;
        }

        @media(max-width: 480px) {
            width: 25%;
            height: 45px;
        }
    }

    .back_btn_wrapper {
        position: absolute;
        bottom: 0;
        left: 0;
        border-radius: 10px;
        width: 9.5%;
        height: 68px;
        transition: 0.3s;
        -webkit-tap-highlight-color: transparent;

        .back_btn {
            width: 100%;
            height: 100%;
            border-radius: 10px;
            box-shadow: none;
            
            .back_btn_txt {
                font-size: 24px;
                text-shadow: 0 2px 2px rgba(0, 0, 0, 0.692);
            

                @media(max-width: 992px) {
                    font-size: 22px;
                }

                @media(max-width: 768px) {
                    font-size: 2.5vw;
                }

                @media(max-width: 768px) {
                    font-size: 16px;
                }

                @media(max-width: 480px) {
                    font-size: 14px;
                }

                @media(max-width: 360px) {
                    font-size: 12px;
                }
            }
        }

        @media(max-width: 1200px) {
            width: 14.2%;
            height: 68px;
        }

        @media(max-width: 992px) {
            width: 14.3%;
            height: 54px;
        }

        @media(max-width: 768px) {
            width: 19.3%;
            height: 39px;
        }

        @media(max-width: 576px) {
            width: 19%;
            height: 40px;
        }

        @media(max-width: 480px) {
            width: 24%;
            height: 31px;
        }

        @media(max-width: 360px) {
            width: 23.5%;
        }
    }

    .back_btn_wrapper:hover {
        scale: 0.95;
    }

    .back_btn_wrapper:active {
        scale: 0.8;
    }
    
    .decorAngle_wrapper {
        position: relative;

        .decorAngle {
            position: absolute;
            top: -170px;
            left: -25px;
            height: 280px;
            width: 33px;

            @media(max-width: 992px) {
                top: -185px
            }

            @media(max-width: 768px) {
                top: -190px;
            }

            @media(max-width: 480px) {
                top: -130px;
                left: -23px;
                height: 200px;
            }
        }
    }

    .right_bg {
        position: relative;
        width: 90%;
        height: 150px;
        background: rgba(22, 27, 34, 1);
        box-shadow: none;

        @media(max-width: 1200px) {
            width: 85%;
        }

        @media(max-width: 992px) {
            height: 120px;
        }

        @media(max-width: 768px) {
            width: 80%;
            height: 100px;
        }

        @media(max-width: 480px) {
            width: 75%;
            height: 80px;
        }
    }

    .title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -40%);
        font-size: 100px;
        letter-spacing: 3px;
        width: 100%;
        text-align: center;
        pointer-events: none;

        @media(max-width: 992px) {
            font-size: 82px;
        }

        @media(max-width: 768px) {
            font-size: 72px;
        }

        @media(max-width: 576px) {
            font-size: 58px;
        }

        @media(max-width: 480px) {
            font-size: 48px;
        }
    }
}