.projectDetail {
    display: flex;
    flex-direction: column;
    gap: 30px;

    .content_wrapper {
        display: flex;
        gap: 30px;
        margin: 0;
        padding: 0;

        @media (max-width: 992px) {
            flex-direction: column;
        }

        .left_box {
            width: 60%;
            box-sizing: border-box;

            @media (max-width: 992px) {
                width: 100%;
            }
        }

        .right_box {
            padding: 50px 100px 0px 0px;
            box-sizing: border-box;
            width: 40%;
            gap: 50px;

            @media (max-width: 1200px) {
                padding: 50px 50px 0px 0px;
            }

            @media (max-width: 992px) {
                padding: 0px 50px;
                width: 100%;
            }

            @media (max-width: 768px) {
                padding: 0px 30px;
            }

            @media (max-width: 576px) {
                gap: 20px;
            }

            .all_text_container {
                display: flex;
                flex-direction: column;
                gap: 15px;

                @media (max-width: 576px) {
                    align-items: center;
                }

                .title {
                    font-size: 46px;
                    line-height: 110%;

                    @media (max-width: 768px) {
                        font-size: 36px;
                    }

                    @media (max-width: 576px) {
                        text-align: center;
                        font-size: 30px;
                    }
                }

                .subtitle {
                    font-size: 26px;

                    @media (max-width: 768px) {
                        font-size: 20px;
                    }
                }

                .description_container {
                    border-radius: 10px;
                    box-sizing: border-box;

                    .description_wrapper {
                        max-height: 150px;
                        overflow: auto;
                        box-sizing: border-box;
                        margin: 15px 5px;

                        @media (max-width: 992px) {
                            margin: 0px;
                        }

                        @media (max-width: 576px) {
                            margin: 15px 5px;
                        }

                        &.borderOff {
                            margin: 0px;
                        }

                        .description  {
                            font-size: 18px;
                            margin: 0;
                            padding: 0;

                            @media (max-width: 768px) {
                                font-size: 16px;
                            }

                            @media (max-width: 576px) {
                                text-align: center;
                            }
                        }

                        @media (max-width: 992px) {
                            max-height: none;
                        }

                        @media (max-width: 576px) {
                            max-height: 150px;
                        }
                    }
                }
            }

            .tech_stack_container {
                display: flex;
                flex-direction: column;
                gap: 15px;

                .tech_stack_title {
                    font-size: 26px;

                    @media (max-width: 768px) {
                        font-size: 20px;
                    }

                    @media (max-width: 576px) {
                        display: none;
                    }
                }

                .tech_stack_icons {
                    display: flex;
                    gap: 5px;

                    @media (max-width: 576px) {
                        justify-content: center;
                    }

                    @media (max-width: 480px) {
                        flex-wrap: wrap;
                    }

                    .iconSkill {
                        width: 40px;
                        height: 40px;
                        filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.315));

                        @media (max-width: 480px) {
                            width: 30px;
                            height: 30px;
                        }
                    }
                }
            }

            .buttons_container {
                display: flex;
                align-items: center;
                justify-content: left;
                gap: 10px;

                @media (max-width: 576px) {
                    justify-content: center;
                }

                @media (max-width: 360px) {
                    gap: 7px;
                }

                .iconDemo_btn_wrapper,
                .iconGithub_btn_wrapper {
                    transition: .3s;

                    &:active {
                        transform: translateY(4px);
                        scale: 96%;
                    }
                }

                .iconDemo_btn, 
                .iconGithub_btn {
                    position: relative;
                    z-index: 1;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    line-height: 0px;
                    padding: 10px 40px;
                    gap: 10px;
                    border-radius: 10px;

                    .btn_effect {
                        position: absolute;
                        z-index: 5;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        border-radius: 10px;
                        background: inherit;
                        transition: .3s;

                        &:hover {
                            filter: brightness(1.2);
                        }
                    }

                    .iconDemo_text,
                    .iconGithub_text {
                        position: relative;
                        z-index: 10;
                        pointer-events: none;
                    }

                    @media (max-width: 1200px) {
                        padding: 10px 30px;
                    }

                    @media (max-width: 576px) {
                        padding: 10px 20px;
                    }

                    @media (max-width: 480px) {
                        gap: 5px; 
                        padding: 5px 15px;
                    }

                    @media (max-width: 360px) {
                        padding: 3px 7px;
                    }

                    .iconDemo_img {
                        width: 30px;
                        height: 20px;
                        position: relative;
                        z-index: 10;
                        pointer-events: none;

                        @media (max-width: 360px) {
                            width: 26px;
                            height: 17px;
                        }
                    }
                }

                .iconGithub_btn {

                    .iconGithub_img {
                        width: 25px;
                        height: 25px;
                        position: relative;
                        z-index: 10;
                        pointer-events: none;

                        @media (max-width: 360px) {
                            width: 22px;
                            height: 22px;
                        }
                    }
                }
            }
        }
    }
}