
// ==================== GENERAL SANS (EN) ====================
@font-face {
  font-family: 'General Sans EN';
  src: url('../fonts/general-sans/en/GeneralSans-Regular.otf') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'General Sans EN';
  src: url('../fonts/general-sans/en/GeneralSans-Medium.otf') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'General Sans EN';
  src: url('../fonts/general-sans/en/GeneralSans-Bold.otf') format('woff2');
  font-weight: 700;
  font-style: normal;
}

// ==================== HUMANE (EN) ====================
@font-face {
  font-family: 'Humane EN';
  src: url('../fonts/humane/en/Humane-Regular.ttf') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Humane EN';
  src: url('../fonts/humane/en/Humane-Medium.ttf') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Humane EN';
  src: url('../fonts/humane/en/Humane-Bold.ttf') format('woff2');
  font-weight: 700;
  font-style: normal;
}

// ==================== CONDENS (RU) ====================
@font-face {
  font-family: 'Condens RU';
  src: url('../fonts/humane/ru/condens.otf') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Condens RU';
  src: url('../fonts/humane/ru/condens_bolditalic.ttf') format('woff2');
  font-weight: 700;
  font-style: italic;
}

// ==================== NUNITO (EN/RU) ====================
@font-face {
  font-family: 'Nunito EN_RU';
  src: url('../fonts/nunito/en_ru/Nunito-Light.ttf') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito EN_RU';
  src: url('../fonts/nunito/en_ru/Nunito-Regular.ttf') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito EN_RU';
  src: url('../fonts/nunito/en_ru/Nunito-Bold.ttf') format('woff2');
  font-weight: 700;
  font-style: normal;
}

// ==================== DM SANS (EN) ====================
@font-face {
  font-family: 'DM Sans EN';
  src: url('../fonts/dm-sans/en/DMSans-Regular.ttf') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'DM Sans EN';
  src: url('../fonts/dm-sans/en/DMSans-Medium.ttf') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'DM Sans EN';
  src: url('../fonts/dm-sans/en/DMSans-Bold.ttf') format('woff2');
  font-weight: 700;
  font-style: normal;
}

// ==================== OPEN SANS SOFT (RU) ====================
@font-face {
  font-family: 'OpenSansSoft RU';
  src: url('../fonts/dm-sans/ru/OpenSansSoft-Light.ttf') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansSoft RU';
  src: url('../fonts/dm-sans/ru/OpenSansSoft-Regular.ttf') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansSoft RU';
  src: url('../fonts/dm-sans/ru/OpenSansSoft-Bold.ttf') format('woff2');
  font-weight: 700;
  font-style: normal;
}

// ==================== BEBAS NEUE (EN) ====================
@font-face {
  font-family: 'Bebas Neue EN';
  src: url('../fonts/bebas-neue/en/BebasNeue-Regular.ttf') format('woff2');
  font-weight: 400;
  font-style: normal;
}

// ==================== BEBAS NEUE (RU) ====================
@font-face {
  font-family: 'Bebas Neue RU';
  src: url('../fonts/bebas-neue/en/BebasNeue-Cyrillic.ttf') format('woff2');
  font-weight: 400;
  font-style: normal;
}

// ==================== BELARUS (EN/RU) ====================
@font-face {
  font-family: 'Belarus EN_RU';
  src: url('../fonts/belarus/en_ru/Belarus-regular.otf') format('woff2');
  font-weight: 400;
  font-style: normal;
}