
:root {
  // ==================== АНГЛИЙСКАЯ ВЕРСИЯ ====================
  --font-brand-en:                  "Humane EN", sans-serif;
  --font-promo-block-bg-text-en:    "Bebas Neue EN", sans-serif;
  --font-title-en:                  "Belarus EN_RU", sans-serif;
  --font-text-en:                   "DM Sans EN", sans-serif;
  --font-subtitle-en:               "Nunito EN_RU", sans-serif;
  --font-button-primary-en:         "DM Sans EN", sans-serif;
  --font-button-secondary-en:       "Nunito EN_RU", sans-serif;
  
  // ==================== РУССКАЯ ВЕРСИЯ ====================
  --font-brand-ru:                  "Condens RU", sans-serif;
  --font-promo-block-bg-text-ru:    "Bebas Neue RU", sans-serif;
  --font-title-ru:                  "Belarus EN_RU", sans-serif;
  --font-text-ru:                   "OpenSansSoft RU", sans-serif;
  --font-subtitle-ru:               "Nunito EN_RU", sans-serif;
  --font-button-primary-ru:         "OpenSansSoft RU", sans-serif;
  --font-button-secondary-ru:       "Nunito EN_RU", sans-serif;
}