
.home {
    padding-top: 110px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    @media (max-width: 1200px) {
        padding-top: 130px;
        // gap: 50px;
    }

    @media (max-width: 768px) {
        padding-top: 150px;
        // gap: 30px;
    }
    
}