.projectCard {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: start;
    flex: 0 0 calc(33.333% - 15px);
    max-width: calc(33.333% - 15px);
    overflow: hidden;
    border-radius: 10px;
    padding-bottom: 50px;
    filter: drop-shadow(0 8px 32px color-mix(
        in srgb, 
        var(--shadow-color, black) 
        calc(var(--shadow-opacity, 0.1) * 100%), 
        transparent
    ));

    .top_box {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        position: relative;
        z-index: 1;
        aspect-ratio: 13 / 8.7;
        width: 100%;
        -webkit-tap-highlight-color: transparent;

        .image_bg {
            width: 100%;
            height: 100%;
            object-fit: contain;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 5;
        }
        
        .image_preview {
            width: 90%;
            // max-width: 500px;
            position: relative;
            z-index: 10;
            border-radius: 10px;
        }
    }

    .bottom_box {
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: 15px;
        padding: 0px 20px;
        
        .title {
            font-size: 32px;
        }
        
        .subtitle {
            font-size: 18px;
        }
        
        .container_bottom {
            display: flex;
            flex-direction: column;
            flex: 1;
            gap: 30px;

            .text {
                margin: 0;
                font-size: 16px;
            }

            .container_skills_and_btn {
                display: flex;
                flex-direction: column;
                gap: 15px;
                margin-top: auto;

                .skills {
                    display: flex;
                    gap: 10px;

                    .icon_skill {
                        filter: drop-shadow(var(--text-shadow-light));
                    }
                }
            
                .btn_link {
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 10px;
                    -webkit-tap-highlight-color: transparent;
                    
                    .btn_link__title {
                        z-index: 1;
                        padding: 10px;
                        font-size: 22px;

                        @media (max-width: 480px) {
                            font-size: 18px;
                        }

                        &::before {
                            position: absolute;
                            content: '';
                            width: 100%;
                            height: 100%;
                            border-radius: 10px;
                            transition: 0.3s;
                            top: 0;
                            left: 0;
                            z-index: -1;
                        }

                        &:hover::before {
                            background: rgba(0, 0, 0, 0.288);
                        }

                        &:active::before {
                            background: rgba(0, 0, 0, 0.432);
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 992px) {
        flex: 0 0 calc(50% - 10px);
        max-width: calc(50% - 10px);
    }

    @media (max-width: 768px) {

        display: none;
    }
}

.projectCard__mobile {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    // gap: 30px;
    flex: 0 0 100%;
    max-width: 100%;
    overflow: hidden;
    border-radius: 10px;
    // padding-bottom: 50px;
    filter: drop-shadow(0 8px 32px color-mix(
        in srgb, 
        var(--shadow-color, black) 
        calc(var(--shadow-opacity, 0.1) * 100%), 
        transparent
    ));

    .header {
        position: relative;
        display: flex;
        flex-shrink: 0;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
        padding: 10px 30px;
        width: auto;
        z-index: 99;

        .header_title__mobile {
            font-size: 26px;
            padding: 0px;

            @media (max-width: 576px) {
                font-size: 20px;
            }

            @media (max-width: 480px) {
                font-size: 18px;
            }

            @media (max-width: 360px) {
                font-size: 16px;
            }
        }

        .arrow_wrapper{
            cursor: pointer;
            border-radius: 50%;
            transition: 0.3s;
            -webkit-tap-highlight-color: transparent;

            .arrow_open,
            .arrow_close {
                font-size: 18px;
                color: antiquewhite;
                padding: 5px 10.5px;
                border-radius: 50%;
                transition: 0.3s;

                &:hover {
                    background: rgba(255, 255, 255, 0.308);
                }
            }
        }
    }

    .body {
        position: relative;
        width: 100%;
        display: grid;
        grid-template-rows: 0fr;
        transition: grid-template-rows 0.7s ease;
        overflow: hidden;
    
        &.body_open {
            grid-template-rows: 1fr;
            margin-bottom: 20px;
            padding-top: 20px;
        }
    
        .content {
            min-height: 0;
            display: flex;
            flex-direction: column;
            flex: 1;
            gap: 15px;
            padding: 0 30px;
            transition: transform 1.3s ease;
            transform: translateY(-300px);
    
            &.content_open {
                transform: translateY(0px);
            }
    
            .image_container__mobile {
                position: relative;
                z-index: 1;
                aspect-ratio: 15 / 8.7;
                display: flex;
                justify-content: center;
                align-items: center;
    
                .image_bg__mobile {
                    position: absolute;
                    z-index: 2;
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                }
    
                .image_preview__mobile {
                    position: relative;
                    z-index: 10;
                    width: 90%;
                    border-radius: 10px;
                }
            }
    
            .container_bottom {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                flex: 1;
                gap: 30px; 

                .text {
                    margin: 0;
                    font-size: 16px;

                    @media (max-width: 480px) {
                        font-size: 14px;
                    }
                }
                
                .container_skills_and_btn {
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    margin-top: auto;

                    .skills {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 10px;

                        .icon_skill {
                            filter: drop-shadow(var(--text-shadow-light));
                            width: 45px;
                            height: 45px;

                            @media (max-width: 576px) {
                                width: 40px;
                                height: 40px;
                            }

                            @media (max-width: 480px) {
                                width: 30px;
                                height: 30px;
                            }

                            @media (max-width: 360px) {
                                width: 20px;
                                height: 20px;
                            }
                        }
                    }

                    .btn_link {
                        position: relative;
                        display: flex;
                        width: 100%;
                        align-items: center;
                        justify-content: center;
                        border-radius: 10px;
                        margin-bottom: 30px;
                        -webkit-tap-highlight-color: transparent;
                        
                        .btn_link__title {
                            z-index: 1;
                            padding: 10px;
                            font-size: 22px;

                            @media (max-width: 480px) {
                                font-size: 18px;
                            }

                            &::before {
                                position: absolute;
                                content: '';
                                width: 100%;
                                height: 100%;
                                border-radius: 10px;
                                transition: 0.3s;
                                top: 0;
                                left: 0;
                                z-index: -1;
                            }

                            &:hover::before {
                                background: rgba(0, 0, 0, 0.288);
                            }

                            &:active::before {
                                background: rgba(0, 0, 0, 0.432);
                            }
                        }
                    }
                }
            }
        }
    }
}