.switch_theme {
    position: relative;
    width: 75px;
    height: 130px;
    background: none;
    border: none;
    outline: none;

    /* Анимация качания */
    animation: lampSwing 4s ease-in-out infinite;
    transform-origin: top center; // Качается от потолка
    

    .switch_theme_IMG {
        position: absolute;
        top: -5px;
        left: 0;
        width: 75px;
        height: 130px;
        cursor: pointer;

        transition: 0.1s;
    }

    .light_IMG {
        filter: drop-shadow(0 0 0.5px rgb(255, 153, 0));
    }

    .lightIMG_rays {
        filter: drop-shadow(0 0 0.5px rgb(255, 153, 0));
        animation: lampRays 4s ease-in-out infinite;
        transform-origin: center;
    }

    .dark_IGM {
        filter: drop-shadow(0 0 0.5px rgb(255, 255, 255));
    }

    .visible {
        opacity: 1;
    }

    .hidden {
        opacity: 0;
    }
}

@keyframes lampRays {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.07);
    }
}

@keyframes lampSwing {
    0%, 100% { 
        transform: 
            translateY(-3px)  
            rotate(-2deg);    
    }
    25% { 
        transform: 
            translateY(1px)     
            rotate(1deg);      
    }
    50% { 
        transform: 
            translateY(-1px)    
            rotate(2deg);       
    }
    75% { 
        transform: 
            translateY(2px)     
            rotate(-1deg);     
    }
}