
.header {
    position: fixed; 
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    z-index: 1000;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 98%;
    height: 100px;
    border-radius: 10px;
    margin-top: 15px;

    background: transparent;
    transition: all 0.4s ease;
  
    &.scrolled {
        background: rgba(255, 255, 255, 0.08);
        backdrop-filter: blur(6px) saturate(50%);
        -webkit-backdrop-filter: blur(12px) saturate(160%);
        box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
        
        &.scrolledDark {
            border: 1px solid rgba(0, 0, 0, 0.178);
        }

        &.scrolledWhite {
            border: none;
        }
    }

    .navigation {
        display: flex;
        gap: 90px;
        align-items: center;

        .nav_link {
            text-decoration: none;
            width: 70px;
            text-align: center;
            cursor: pointer;

            font-size: 16px;
            font-weight: 700;
            line-height: 20px;
            letter-spacing: 0%;
            filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.192));
            transition: var(--color-transition);

            @media (max-width: 768px) {
                font-size: 12px;
                width: 60px;
            }
        }

        .nav_link_hover_time {
            transition: 0.2s ease;

            &:hover {
                color: red !important;
                scale: 105%;
                opacity: 0.7;
            }
        }

        .textWhite {
            color: rgb(255, 255, 255);
        }

        .textBlack {
            color: rgb(0, 0, 0);
        }

        .english {
            font-family: var(--font-text-en);
        }

        .russian {
            font-family: var(--font-text-ru);
        }

        @media (max-width: 992px) {
            gap: 50px;
        }

        @media (max-width: 768px) {
            gap: 5vw;
        }
    }
    
}

.isMobile_header {
    

    .navigation {
        width: 80%;
        justify-content: space-between;
        position: absolute;
        top: -15px;
        left: 50%;
        transform: translateX(-50%);

        .navigation_right_btns {
            display: flex;
            gap: 10px;

            .button_navigation_wrapper {
                transition: filter 0.3s ease, transform 0.3s ease;
                
                .button_navigation {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    align-items: center;
                    justify-content: center;
                    padding: 0px 10px;
                    height: 30px;
                    width: 30px;
                    border-radius: 7px;
                    font-size: 20px;
                    transform: translateY(0px) rotate(0deg);
                    
                    .stick {
                        width: 20px;
                        height: 3px;
                        transition: 0.5s;
                        
                        &.dark {
                            background-color: black;
                        }

                        &.white {
                            background-color: white;
                        }
                    }

                    .stick_top.open {
                        transform: translateY(7px) rotate(45deg);
                    } 
                    .stick_center.open {
                        transform: rotate(-45deg);
                        width: 0px;
                    }
                    .stick_bottom.open {
                        transform: translateY(-9px) rotate(-45deg);
                    }
                }

                &:hover {
                    transform: scale(1.05);
                }

                &:active {
                    filter: brightness(0.9) saturate(0.9);
                    transform: scale(0.9);
                }
            }
        }
    }

    &.open {
        height: 97%;
    }

    .links_wrapper {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0px;
        position: absolute;
        top: 40vh;
        left: 50%;
        transform: translateX(-50%) translateY(-200%);
        opacity: 0;
        pointer-events: none; 
        transition: 0.3s ease-out;

        .nav_link {
            width: 100%;
            font-size: 26px;
            // text-shadow: 2px 2px 12px rgba(0, 0, 0, 0.411);
            border: 1px solid rgba(2, 2, 2, 0.247);
            padding: 10px 10px;
            border-radius: 10px;
            
        }

        .nav_link.bg_dark {
            background: rgba(46, 46, 46, 0.486);
            text-shadow: 2px 2px 10px rgb(0, 0, 0);
        }
        .nav_link.bg_white {
            background: rgba(255, 255, 255, 0.692);
            text-shadow: 2px 2px 10px rgb(255, 255, 255);
        }

    }

    .links_wrapper.open_links {
        gap: 12px;
        opacity: 1;
        transform: translateX(-50%) translateY(0%);
        pointer-events: all;
    }
}