.aboutSocial {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(22, 27, 34, 1);
    border-radius: 10px;
    padding: 30px 100px;

    .social {
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 10px;
        border-radius: 10px;
        
        a {
            width: 38px;
            height: 38px;
            transition: filter 0.3s ease, transform 0.3s ease;
            
            &:hover {
                transform: scale(1.05) rotate(-10deg);
            }

            &:active {
                filter: brightness(0.9) saturate(0.9);
                transform: scale(0.9);
            }
        }

        @media (max-width: 992px) {
            height: 100%;
            padding: 20px 0px;
            justify-content: center;
            gap: 15px;
        }

        @media (max-width: 360px) {
            padding: 10px 0px;
            gap: 10px;
        }
    }

    @media (max-width: 1200px) {
        padding: 30px 50px;
    }

    @media (max-width: 992px) {
        padding: 0;
    }
}