.switch_lang_hover_time {
    transition: filter 0.3s ease, transform 0.3s ease;

    .switch_lang {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 30px;
        height: 30px;
        border: none;
        border-radius: 20%;
        font: inherit;
        outline: none;
        font-size: 20px;
        font-weight: 700;

        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
        cursor: pointer; 

        &.dark {
            color: black;
        }
            
        &.white {
            color: white;
        }
    }

    // Класс для анимированного градиента
    .gradient_transition {
        background: linear-gradient(135deg, var(--gradient-primary), var(--gradient-secondary));
        transition: --gradient-primary 3s ease, --gradient-secondary 3s ease;
    }

    .english {
        font-family: var(--font-text-en);
    }

    .russian {
        font-family: var(--font-text-ru);
    }
     
    &:hover {
        transform: scale(1.05);
    }

    &:active {
        filter: brightness(0.9) saturate(0.9);
        transform: scale(0.9);
    }
    
}


