
.promoBlock {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 764px;
  overflow: hidden;
  width: 100%;
  z-index: 0;
  margin-bottom: 40px;

  .nameCard_wrapper {
    z-index: 2;
  }

  .backgroundText_wrapper {
    z-index: 1;
  }

  mask: linear-gradient(
    90deg, 
    transparent 0%, 
    white 20%, 
    white 80%, 
    transparent 100%
  );

  @media (max-width: 480px) {
    mask: linear-gradient(
      90deg, 
      transparent 0%, 
      white 10%, 
      white 90%, 
      transparent 100%
    );
  }
}