

.backgroundText {
  position: absolute;
  width: 100%;
  top:7%;
  left: 0;
  font-family: var(--font-promo-block-bg-text-en);
  font-size: 408px;
  line-height: 350px;
  white-space: nowrap;
  transition: var(--color-transition);
  
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  .bg_designer {
    display: flex;
    width: 200%;
    letter-spacing: -7px;
    text-indent: -14px;
    animation: scrollRight_first  200s linear infinite;


    // -------------------------------------------------------------------------------------------------------------------------------------------------
    // Вариант для браузера FireFox
    @supports (-moz-appearance: none) {
      animation: none;
    }
    // -------------------------------------------------------------------------------------------------------------------------------------------------


  }

  .bg_frontend {
    display: flex;
    width: 400%;
    letter-spacing: 8.05px;
    text-indent: -14px;
    animation: scrollLeft_first  200s linear infinite;


    // -------------------------------------------------------------------------------------------------------------------------------------------------
    // Вариант для браузера FireFox
    @supports (-moz-appearance: none) {
      animation: none;
    }
    // -------------------------------------------------------------------------------------------------------------------------------------------------

    
  }
}

.textWhite {
  color: rgba(230, 230, 230, 1);
  opacity: 0.1;
}

.textBlack {
  color: rgba(28, 28, 28, 1);
  opacity: 0.5;
}

@keyframes scrollRight_first {
    0% {
      transform: translateX(0%);
    }

    100% {
      transform: translateX(-50%);
    }
}

@keyframes scrollLeft_first {
  0% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0);
  }
}