.projectsSection {
    display: flex;
    flex-direction: column;
    gap: 30px;

    .projectsSection_header {
        padding: 50px 100px;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;

        .header_title_wrapper {

            .header_title {
                font-size: 74px;
                letter-spacing: 1px;

                @media (max-width: 768px) {
                    font-size: 54px;
                }

                @media (max-width: 576px) {
                    font-size: 34px;
                }

                @media (max-width: 480px) {
                    font-size: 54px;
                }

                @media (max-width: 360px) {
                    font-size: 50px;
                }
            }

            // @media (max-width: 480px) {
            //     display: flex;
            //     width: 100%;
            //     justify-content: start;
            // }

            // @media (max-width: 360px) {
            //     justify-content: center;
            // }
        }

        .header_btn {
            display: flex;
            align-items: center;
            font-size: 16px;
            transition: .3s;

            &:hover {
                animation: header_btn_animation 1s infinite;
            }

            @media (max-width: 992px) {
                font-size: 12px;
            }

            @media (max-width: 768px) {
                font-size: 10px;
            }

            @media (max-width: 480px) {
                width: 100%;
                justify-content: end;
            }
        }

        @media (max-width: 1200px) {
            padding: 30px 50px;
        }

        @media (max-width: 768px) {
            padding: 30px 30px;
        }

        @media (max-width: 480px) {
            flex-direction: column;
            // justify-content: center;
        }
    }
}

@keyframes header_btn_animation {
    0%   {  transform: translateX(0px);  }
    50%  {  transform: translateX(10px); }
    100% {  transform: translateX(0px);  }
}